<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <title>Metal Investing</title>

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">
    <!-- CSS 링크 -->


    <style type="text/css">
        * {
            font-family: 'Stylish', sans-serif;
        }

        .all {
            width: 500px;
            margin: auto;
        }

        .mytitle {
            color: whitesmoke;
            width: 90%;
            height: 100px;
            background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/71/Black.png/330px-Black.png');
            background-position: center;
            background-size: cover;
            text-align: center;
            padding-top: 25px;
            margin: auto;
        }

        .MainLogo {
            background-image: url(https://www.logolynx.com/images/logolynx/86/8646e3a53f7bdd693338ec1297a1c964.png);
            background-size: cover;
            width: 222px;
            height: 70px;
            vertical-align: top;
            background-position: center;

        }

        .Id {
            margin: -30px 750px;
            font-size: 30px;
            width: 150px;

        }

        .input-group {
            margin: -50px 150px;
            width: 250px;
        }

        .blank {
            margin: auto;
            width: 100%;
        }

        #insert_table {
            margin: 30px auto;
        }
    </style>

    <script>

        function make_list() {
            let date = $('#date').val();
            let brand = $('#brand').val();
            let kinds = $('#kinds').val();
            let weights = $('#weights').val();
            let count = $('#count').val();
            let money = $('#money').val();

            if (date == '') {
                alert('날짜를 입력해주세요');
                $('#date').focus();
                return;
            } else if (brand == '') {
                alert('브랜드를 입력해주세요');
                $('#brand').focus();
                return;
            } else if (kinds == '') {
                alert('종류를 입력해주세요');
                $('#kinds').focus();
                return;
            } else if (weights == '') {
                alert('무게를 입력해주세요');
                $('#weights').focus();
                return;
            } else if (count == '') {
                alert('개수를 입력해주세요');
                $('#count').focus();
                return;
            } else if (money == '') {
                alert('가격을 입력해주세요');
                $('#money').focus();
                return
            }

            $.ajax({
                type: "POST",
                url: "/postmetal",
                data: { date_give: date, brand_give: brand, kinds_give: kinds, weights_give: weights, count_give: count, money_give: money, grams_give: grams, profit_give: profit },
                success: function (response) {
                    if (response['result'] == 'success') {
                        alert(response['msg']);
                        window.location.reload();
                    }
                }
            })
        }

        $(document).ready(function () {
            console.log("page started")
            $('#orders-box').html('');
            listing();
        });

        function listing() {
            console.log('listing started')
            $.ajax({
                type: "GET",
                url: "/postmetal",
                data: {},
                success: function (response) {
                    console.log(response)
                    if (response['result'] == 'success') {
                        let postings = response['all_posting'];
                        console.log(postings)
                        for (let i = 0; i < postings.length; i++) {
                            let id = postings[i]['id']
                            let date = postings[i]['date']
                            let brand = postings[i]['brand']
                            let kinds = postings[i]['kinds']
                            let weights = postings[i]['weights']
                            let count = postings[i]['count']
                            let money = postings[i]['money']

                            let temp_html = `<tr>
                                <td>${date}</td>
                                <td>${brand}</td>
                                <td>${kinds}</td>
                                <td>${weights}</td>
                                <td>${count}</td>
                                <td>${money}</td>
                                <td> <button type="button" class="btn btn-secondary" onclick="delete_list('${id}')">삭제</button></td>
                                </tr>`
                            $('#orders-box').append(temp_html);
                        }
                    } else {
                        alert('리뷰를 받아오지 못했습니다');
                    }
                }
            })
        }

        function delete_list(id) {
            // 1. 서버에 1) POST 방식으로, 2) /api/delete 라는 url에, 3) name_give라는 이름으로 name을 전달합니다.
            // 참고) POST 방식이므로 data: {'name_give': name} 과 같은 양식이 되어야합니다!
            $.ajax({
                type: "POST",
                url: "/api/delete",
                data: { 'id_give': id },
                success: function (response) {
                    if (response['result'] == 'success') {
                        // 2. '삭제 완료! 안녕!' 얼럿을 띄웁니다.
                        alert('삭제되었습니다')
                        // 3. 변경된 정보를 반영하기 위해 새로고침합니다.
                        window.location.reload()
                    }
                }
            });
        }
    </script>
</head>

<body>
    <div class="All">
        <div class="mytitle">
            <div class="MainLogo">
                <span>
                    <h1 class="MainName">Investing</h1>
                </span>
                <div class="Id">
                    <h2>아이디</h1>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="아이디를 입력하세요"
                                aria-label="Recipient's username with two button addons"
                                aria-describedby="button-addon4">
                            <div class="input-group-append" id="button-addon4">
                                <button
                                    type="submithttps://images.pexels.com/photos/376723/pexels-photo-376723.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                                    class="btn btn-outline-secondary">입력</button>
                                <button type="submit" class=" btn btn-outline-secondary">등록</button>
                            </div>
                        </div>
                </div>

            </div>
            <!-- ##테이블은 여기로 -->
            <!-- 입력 테이블 -->
            <div>
                <h1></h1>
                <table class="table table-striped table-dark" id="insert_table">
                    <thead>
                        <tr>
                            <th scope="col">날짜</th>
                            <th scope="col">브랜드</th>
                            <th scope="col">종류</th>
                            <th scope="col">중량</th>
                            <th scope="col">개수</th>
                            <th scope="col">금액</th>
                            <th scope="col">추가</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <!-- 날짜 -->
                            <th scope="row">
                                <div>
                                    <label></label>
                                    <p><input type="date" id="date"></p>
                                </div>

                            </th>
                            <!-- 브랜드 -->
                            <td>
                                <div class="form-group">
                                    <label></label>
                                    <select class="form-control" id="brand">
                                        <option>한국금거래소</option>
                                        <option>기타</option>
                                    </select>
                                </div>
                            </td>
                            <!-- 종류 -->
                            <td>
                                <div class="form-group">
                                    <label></label>
                                    <select class="form-control" id="kinds">
                                        <option>금</option>
                                        <option>은</option>
                                        <option>백금</option>
                                    </select>
                                </div>
                            </td>
                            <!-- 중량 -->
                            <td>
                                <div class="form-group">
                                    <label></label>
                                    <select class="form-control" id="weights">
                                        <option>3.75g</option>
                                        <option>37.5g</option>
                                        <option>100g</option>
                                        <option>500g</option>
                                        <option>1000g</option>
                                    </select>
                                </div>
                            </td>
                            <!-- 개수 -->
                            <td>
                                <div class="form-group">
                                    <label></label>
                                    <select class="form-control" id="count">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                        <option>...</option>
                                    </select>
                                </div>
                            </td>
                            <!-- 금액 -->
                            <td>
                                <form>
                                    <div class="form-group">
                                        <label></label>
                                        <input type="text" class="form-control" id="money" placeholder="금액을 입력하세요"
                                            numberOnly>
                                        <small id="emailHelp" class="form-text text-muted">숫자만 입력하세요</small>
                                    </div>
                            </td>

                            <td>
                                <p></p>
                                <label></label>
                                <button onclick="make_list()" type="button" class="btn btn-secondary">등록</button></td>
                        </tr>
            </div>

            <!-- 보유현황 테이블 -->
            <div>
                </tbody>
                <table class="table table-striped table-dark" id="result_table">
                    <thead>
                        <tr>
                            <th scope="col">날짜</th>
                            <th scope="col">브랜드</th>
                            <th scope="col">종류</th>
                            <th scope="col">중량</th>
                            <th scope="col">개수</th>
                            <th scope="col">금액</th>
                            <th scope="col">삭제</th>
                        </tr>
                    </thead>
                    <tbody id="orders-box">
                        <tr>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>

    </div>
</body>

</html>